
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @post_book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
					<tr class="book_<%= @book.id %>">
						<%= render 'book', book: @book %>
					</tr>
		</table>

		<%= render 'book_comments/book_comment_area', book_comment: @book_comment %>

		<%= form_with(model: [@book, @book_comment], remote: true) do |f| %>
			<%= f.text_area :comment, class: "col-xs-9 input-lg" %>
			<%= f.submit "送信", class: "btn" %>
		<% end %>
	</div>
</div>

